@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1B1A1D;
  color: #f8f9fa;
  overflow-x: hidden;
}
*{
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

.nav-item{
  @apply text-3xl grid place-items-center;
}

.nav-link{
  @apply p-2.5 rounded-md duration-300 transition-colors hover:bg-black hover:bg-opacity-30;
}

.nav-link span:last-of-type{
  @apply text-base font-semibold 2xl:text-lg;
}


.button-v2{
  @apply
  flex
  flex-row
  items-center
  gap-x-1.5
  font-semibold
  rounded-full
  border 
  py-1.5
  px-2
  text-sm
  lg:text-base
  2xl:text-lg
  transition-colors
  duration-300
  hover:text-black
  hover:bg-white
  ;
}